/* write your override styles here */
body {
  background: black url(../images/sketch.jpg) no-repeat center;
  background-size: cover;
}
.tag-1 {
  background: url(../images/tag-1.png) no-repeat;
  z-index: 7;
}



#wall {
  position: relative;
  margin: 40px auto;
  background: url(../images/wall.jpg) no-repeat center;
  -moz-box-shadow: 15px 15px 47px lime, -15px -15px 47px aqua;
  -webkit-box-shadow: 15px 15px 47px lime, -15px -15px 47px aqua;
  box-shadow: 15px 15px 47px lime, -15px -15px 47px aqua;
  border: 15px solid white;
  border-bottom: 60px solid white;
}
.tag-1, #tag-2, #tag-3, #tag-4, #tag-5, #tag-6, #tag-7 {
  position: absolute;
  top: 0;
  left: 0;
}



#wall .tag-1, #tag-2, #tag-3, #tag-4, #tag-5, #tag-6, #tag-7{
  width: 980px;
  height: 622px;
}

#wall #tag-2 .tag-1 body div > #tag-7.slick  div:last-child #tag-6 .parent #tag-5.slick #tag-4 #tag-3.slick{
  display: block;
}
